<h1>
	Login Reactive
</h1>
<form [formGroup]="loginForm">
	<div>
		<label>
	    <span>Email</span>
			<input type="email" placeholder="Email" formControlName="email">
		</label>
		<div class="error" *ngIf="(loginForm.get('email').touched || loginError) && loginForm.get('email').hasError('required')">
	        Email is required
	    </div>
	    <div class="error" *ngIf="(loginForm.get('email').touched || loginError) && loginForm.get('email').hasError('email')">
	        Should be an email
	    </div>
	</div>
    <div>
	    <label>
	        <span>Password</span>
			<input type="password" placeholder="Password" formControlName="password">
		</label>
		<div class="error" *ngIf="(loginForm.get('password').touched || loginError) && loginForm.get('password').hasError('required')">
	        Password is required
	    </div>
    </div>
	
	<button (click)="login($event)">Login</button>
</form> 

<h1>
	Login Template
</h1>
<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
	<div>
		<label>
	    <span>Email</span>
			<input type="email" placeholder="Email" type="email" ngModel #userEmail=ngModel required name="userEmail">
		</label>
		<div class="error" *ngIf="(userEmail.touched) && userEmail.errors?.required">
	      Email is required
    </div>
    <div class="error" *ngIf="(userEmail.touched ) && userEmail.errors?.email">
        Should be an email
    </div>
	</div>
    <div>
	    <label>
	        <span>Password</span>
			<input type="password" placeholder="Password"  ngModel #userPassword="ngModel" required name="userPassword">
		</label>
		<div class="error" *ngIf="(userPassword.touched || loginError) && userPassword.errors?.required">
	        Password is required
	    </div>
    </div>
	
	 <button type="submit" [disabled]="f.invalid">Login</button>
</form> 