.error {
	color: red;
}

.login-container {
	height: 100vh;
	
	color: #000;
}

.login-form {
	width: 300px;
	margin: auto;
	padding: 20px;

	input {
		width: 100%;

	}

	button {
		margin-top: 15px;
	}
}