/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}
body {
  padding: 0;
}
h1 {
  margin-top: 0;
}
@media (max-width: 900px) {
  html { font-size: 14px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}